{% include 'header.html' %} 
<form method="POST" action="/balance">
     
    {% for titulo in nombreCuenta %}
    <h3>{{titulo[0]}}</h3>   
    {% endfor %}
     <br>

     <canvas class="my-4" id="myChart" width="700" height="300" ></canvas>
     <script>
         
         var ctx = document.getElementById("myChart");
         var myChart = new Chart(ctx, {
           type: 'line',
           data: {
                          
             labels: [
             {% for item in registrosCuenta %}
             "{{ item [1]}}",
             {% endfor %}
             
 
             ],
                       
             datasets: [{
               label: 'Usuarios de una única sesión',  
               data: [
               {% for valores in registrosCuenta %}
               "{{ valores [0]}}",
               {% endfor %}
             
             ],
               lineTension: 0,
               backgroundColor: '#e6f4f7',
               borderColor: '#007bff',
               borderWidth: 4,
               pointBackgroundColor: '#007bff',
               fill: true
             }]
           },
           options: {
             scales: {
               yAxes: [{
                 ticks: {
                   beginAtZero: false
                 }
               }]
             },
             legend: {
               display: false,
             }
           }
         });
       </script>



    <div style="height:500px; overflow-y: scroll;" >
      
    
        <table class="table table-striped">
            <thead class="thead-dark">
                
                <tr>
                    <th>Fecha</th>
                    <th>Usuarios</th>
                </tr>
                
            </thead>
            <tbody>
                {% for registroCuenta in registrosCuenta %}  
                <tr>
                    <td class="col-1">{{registroCuenta[1]}}</td>
                    <td class="col-1">{{registroCuenta[0]}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    
</form>
{% include 'footer.html' %} 