{% include 'header.html' %} 
<form method="post" action="/chart">
    
    
    
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        {% for titulo in nombreCuenta %}
        <h3>{{titulo[0]}}</h3>   
        {% endfor %}
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            
            <!-- <a class="btn btn-sm btn-outline-secondary" href="/exportarGrafico/{{id}}" >Exportar</a> -->
            
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle = "dropdown">         
            Seleccione
          <span class = "caret"></span>
          </button>
          <ul class >
          <li class= "dropdown-menu" role = "menu">
            
              <a class="dropdown-item" href="/chart/{{id}}/0">Semana</a>
              <a class="dropdown-item" href="/chart/{{id}}/1">Mes</a>
              <a class="dropdown-item" href="/chart/{{id}}/2">A&ntilde;o </a>              
              <a class="dropdown-item" href="/chart/{{id}}/3">Personalizado </a>
          </li>
        </ul>

          
        </div>
      </div>




    <canvas class="my-4" id="myChart" width="900" height="600" ></canvas>
    <script>
        

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
                         
            labels: [
            {% for item in registrosCuenta %}
            "{{ item [0]}}",
            {% endfor %}
            

            ],
                      
            datasets: [{
              label: 'Sesiones',  
              data: [
              {% for sesiones in registrosCuenta %}
              "{{ sesiones [2]}}",
              {% endfor %}
            
            ],
              lineTension: 0,
              backgroundColor: 'transparent',
              borderColor: '#007bff',
              borderWidth: 4,
              pointBackgroundColor: '#007bff'
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: false
                }
              }]
            },
            legend: {
              display: false,
            }
          }
        });
      </script>
    
    
</form>


{% include 'footer.html' %} 