{% include 'header.html' %} 
<form method="post" action="/comparativo">
    
    <h3>Comparativo Cuentas</h3>
    
    
        
           
    <br>
    <div class="custom-control custom-checkbox">
    {% for cuenta in cuentasGA %} 
    <input type="checkbox" name="cuentas" value="{{cuenta[0]}}"/>
    <label for="{{cuenta[0]}}">{{cuenta[1]}}</label> <br>
    {% endfor %}
    <br>
    <input type="submit" value="Comparar">
    </div>             
        
        

        
    




    
    
    
    
</form>


{% include 'footer.html' %} 