{% include 'header.html' %} 
<form method="post" action="/comparativo">
    
    <h3>Comparativo Cuentas</h3>
    
    
        
           
    <br>
    <div class="custom-control custom-checkbox">
    {% for cuenta in cuentasGA %} 
     
    <button type="button" onclick="agregarCuenta({{cuenta[0]}})" class="btn btn-primary" >{{cuenta[1]}}</button>
    <!--<input type="button" name="cuentas" value="{{cuenta[0]}}"/>
    <label for="{{cuenta[0]}}">{{cuenta[1]}}</label>--> 
    {% endfor %}
   
    </div>             
    
    <canvas class="my-4" id="myChart" width="900" height="600" ></canvas>
    <script>
        

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
                }
        fillcolor = getRandomColor()  
        
        // setup 
    const data = {
      labels: [{% for item in registrosCuenta %}
            "{{ item [0]}}",
            {% endfor %}],
      datasets: [{
         label: 'Comparativo',
        // data: [18, 12, 6, 9, 12, 3, 9],
        // backgroundColor: 'transparent',
        // borderColor: fillcolor,
        // borderWidth: 4,
        // pointBackgroundColor: fillcolor
      }]
    };

    // config 
    const config = {
      type: 'line',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: false
          }
        }
      }
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
    function agregarCuenta(id) {
      console.log(id.toString());
      let valores=[];
      {% for registro in registrosCuenta %}
      var cuenta="{{ registro [4]}}"
      if (cuenta==id){
      
      var etiqueta ="{{ registro [3]}}"
      valores.push("{{ registro [2]}}");
       
      }
              
      
      {% endfor %}
      
      console.log(valores);
     
      const newDataset={
        label: etiqueta ,
        data:valores,
        backgroundColor: 'transparent',
        borderColor: getRandomColor(),
        borderWidth: 4,
        pointBackgroundColor: getRandomColor()
        

      };
      myChart.data.datasets.push(newDataset);
      myChart.update();

            
                }
        // var ctx = document.getElementById("myChart");
        // var myChart = new Chart(ctx, {
        //   type: 'line',
        //   data : {
        //     labels: 
        //     //{{ etiquetas | safe }},
        //     datasets: [{
        //       label: 'Sesiones',  
        //       data: {{ valores | safe }},
        //       lineTension: 0,
        //       backgroundColor: 'transparent',
        //       borderColor: fillcolor,
        //       borderWidth: 4,
        //       pointBackgroundColor: fillcolor
        //     }]
        //   },
        //   options: {
        //     scales: {
        //       yAxes: [{
        //         ticks: {
        //           beginAtZero: false
        //         }
        //       }]
        //     },
        //     legend: {
        //       display: true,
        //     }
        //   }
        // });
      </script>
        

        
    




    
    
    
    
</form>


{% include 'footer.html' %} 