{% include 'header.html' %} 
<form method="POST" action="/consultaCuenta">
     
    {% for titulo in nombreCuenta %}
    <h3>{{titulo[0]}}</h3>   
    {% endfor %}
     <br>

    <div style="height:500px; overflow-y: scroll;" >
      
    
        <table class="table table-striped">
            <thead class="thead-dark">
                
                <tr>
                    <th>Fecha</th>
                    <th>Duraci&oacute;n</th>
                    <th>Sesiones</th>
                </tr>
                
            </thead>
            <tbody>
                {% for registroCuenta in registrosCuenta %}  
                <tr>
                    <td class="col-1">{{registroCuenta[0]}}</td>
                    <!-- <td class="col-1"><a class="btn btn-info btn-sm" href="/detalleFechaCuenta/{{id}}/{{registroCuenta[0]}}">{{registroCuenta[0]}}</a></td> -->
                    <td class="col-1">{{registroCuenta[1]}}</td>
                    <td class="col-1">{{registroCuenta[2]}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    
</form>
{% include 'footer.html' %} 