{% include 'header.html' %} 

<div class="container">

  <table class="table table-hover">
     <thead class="thead-light">
             
         <tr>
             <th>Id cuenta GA</th>
             <th>Cuenta</th>
             <th>Opciones</th>
         </tr>
         
     </thead>
     <tbody>
         {% for cuenta in cuentasGA %}  
         <tr>
             <td class="col-1">{{cuenta[0]}}</td>
             <td class="col-1"><a class="btn btn-info btn-sm" href="/consultaCuenta/{{cuenta[0]}}">{{cuenta[1]}}</a>
             </td>
             <td class="col-3"><a class="btn btn-primary" href="/top100/{{cuenta[0]}}">Top 100</td>
             
         </tr>
         {% endfor %}
     </tbody>
 </table>
 
 </div>  

          


{% include 'footer.html' %} 